.filter-container {
    margin-bottom: 30px;
    margin-top: 10px;
    border: 1px solid #e5e5e5
}

.filter-group {
    margin-bottom: 20px;
    padding: 10px 20px 0;
    overflow: hidden
}

.filter-group-title {
    border-radius: 3px;
    display: block;
    clear: both;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 9px;
    line-height: 25px;
    border-bottom: 1px solid #e5e5e5
}

.filter-item {
    margin: 0;
    cursor: pointer;
    line-height: 35px
}

.filter-item * {
    color: #6f6f6f;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400
}

.filter-item--green :hover {
    color: #41b75e
}

.filter-item--half {
    display: inline-block;
    width: 99%;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 3px
}

.filter-item--check-box input {
    display: none
}

.filter-item--check-box .fa {
    margin-right: 5px;
    width: 14px
}

.filter-item--check-box input+.fa:before {
    content: "\f096"
}

.filter-item--check-box input:checked+.fa:before {
    content: "\f14a";
    color: #41b75e
}

#nprogress .bar {
    background: #41b75e
}

#nprogress .spinner-icon {
    border-top-color: #41b75e;
    border-left-color: #41b75e
}

.filter-container__selected-filter {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee
}

.filter-container__selected-filter-header {
    margin-bottom: 5px
}

.filter-container__selected-filter-header-title {
    font-size: 18px;
    font-weight: 700;
    color: #0038AE
}

.filter-container__clear-all {
    float: right;
    color: #333;
    margin-top: 3px
}

.filter-container__selected-filter-item {
    padding: 3px 0
}

.filter-container__selected-filter-item>a {
    color: #333;
    font-size: 13px
}

.filter-container__selected-filter-item .fa {
    margin-right: 10px;
    color: #F44336
}

.filter-item--half:first-child {
    display: block
}